body {
    background-color: #DADADA;
    font-family: 'Helvetica Neue',Helvetica;
    text-align: center;
}

body, html {
    font-size: 14px;
}

.bl-background {
    background: #DADADA;
    margin-top: 100px;
    width: 1300px;

    text-align: center;
    display: inline-block;
}

.bl-list {
    background: white;
    margin: 10px;
    width: 55%;
    display: inline-block;
    vertical-align: top;
    border-radius: 0.285714rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bl-bought {
    background: white;
    margin: 10px;
    padding: 15px;
    padding-top: 4px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    border-radius: 0.285714rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: left;
    box-sizing: border-box
}

/*Кнопки*/

.bl-label {
    background: #cdcbcb;
    font-size: 16px;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.2rem;
    cursor: default;
}

.bl-title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:lightgray;
    
}

.area {
    width: 544px;
    margin: 16px;
    margin-left: 14px;
    margin-right: 0px;
    padding: 14px;
    font-size: 16px;
    align-content: center;
    border: 1px solid rgba(34,36,38,.15);
    border-right: 0px;
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color .1s ease,border-color .1s ease;
    display: inline-block;
}

.count {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center
{position: fixed;
left: 0px;
right: 0px;
width: 1000px;}

.bl-product {
    width: 30%;
    /* width: 250px; */
    padding: 14px;
    padding-left: 16px;
    display: inline-block;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box
}

.bl-count {
    width: 35%;
    /* width: 150px; */
    padding: 14px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box
}

.bl-buttons {
    width: 33%;
    display: inline-block;
    padding: 14px;
    padding-left: 0%;
    border: none;
    border-radius: 0.285714rem;
    text-align: right;
    box-sizing: border-box
}

.bl-plus {
    background: #04a613;
    color: aliceblue;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    border: none;
}

.bl-minus {
    background: #dd0606;
    color: aliceblue;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border: none;
}

.delete {
    background: #dd0606;
    color: aliceblue;
    border: none;
    border-radius: 0.285714rem;
    font-size: 20px;
    padding: 8px 12px;
    padding-top: 4px;
    padding-bottom: 8px;
}

.bl-row {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color:lightgray;
    text-align: left;
    box-sizing: border-box
}

.bought {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: .28571429rem;
    border: none;
    box-sizing: border-box
}

.add {
    width: 108px;
    text-align: center;
    transition: all 0.5s;
    font-size: 16px;
    padding: 15px 3.5%;
    padding-right: 25px;
    background-color: #2185D0;
    color: ivory;
    border: none;
    border-top-right-radius: .28571429rem;
    border-bottom-right-radius: .28571429rem;
}

.label {
    cursor: default;
    background: #dfdfdf;
    color: black;
    font-size: 10px;
    margin: 15px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.2rem;
    border: none;
    display: inline-block;
}

.labela {
    background: #f86300;
    color: rgb(255, 255, 255);
    font-size: 7px;
    margin-left: 0px;
    padding: 3px 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50%;
    border: none;
    align-content: center;
    display: inline-block;
}

button {
    outline: none;
    cursor: pointer;
    
}

button:active {
    transform: translateY(1px);
  }

.bl-minus:disabled {
    background: #fca4a4;
}

.badge {
    cursor: default;
    position: fixed;
    background-color: #b74de0;
    border-top-right-radius: .8rem;
    border-top-left-radius: .8rem;
    width: 90px;
    height: 110px;
    left: 10%;
    bottom: -75px;
    transition:	.7s	ease;
    font-family: sans-serif;
}

.badge:hover {
    bottom: -50px;
    background-color: #854de0;
}


.add span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .add span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
  }
  
  .add:hover span {
    padding-right: 15px;
  }
  
  .add:hover span:after {
    opacity: 1;
    right: 2px;
  }

  .badge-text1 {
    text-align: middle;
    padding-top: 12px;
    color: aliceblue;
  }
  .badge-text2 {
    text-align: left;
    padding-top: 6px; 
    padding-left: 17px; 
    color: aliceblue; 
    font-size: 8px;
  }

  [data-tooltip] {
    position: relative; 
   
   }
   [data-tooltip]::after {
    font-size: 10px;
    content: attr(data-tooltip); 
    position: absolute; 
    height: 1px;
    width: attr(width);
    bottom: 105%;
    left:50%;
    padding: 0.625em;
    transform:translateX(-50%);
    border-radius: 1.25em;
    background: purple; 
    color: white; 
    pointer-events: none; 
    opacity: 0; 
    transition: 1s; 
   } 
   [data-tooltip]:hover::after {
    height:1.25em;
    opacity: 1; 
   }

@media print {
    .badge {
        border: solid 2px rgb(0, 0, 0);
        height: 40px;
        bottom: 0px;
    }

    .badge-text1  {
        display: none;
    }

    .badge-text2 {
        color: black;
        padding-top: 10px;
    }
    
}

@media(max-width: 1200px) {
    .bl-background {
        width: 1000px
    }
    
    .area {
        width: 380px;
    }
}

@media(max-width: 1000px) {
    .bl-background {
        width: 850px
    }
     
    .area {
        width: 300px;
    }

    .bl-bought {
        width: 190px;
    }
}

@media(max-width: 800px) {
    .bl-background {
        width: 500px;
        margin-left: 0px;
        margin-right: 20px;
        margin-top: 70px;
    }
     
    .area {
        width: 332px;
    }
    
    .bl-list {
        width: 500px;
    }
    .bl-bought {
        width: 500px;
    }

}